
html, body { height: 100%; min-width: 100%; margin: 0; padding: 0; border: 0; }
body { font-family: Roboto,sans-serif; font-size: 1rem; font-weight: 400; line-height: 1.5; text-align: left; }

a { text-decoration: none; color: #005087; cursor: pointer; }
a:hover { color: #11a3a8; text-decoration: underline; }

h3 { border-bottom: 1px solid #ddd; color: #00b4aa; font-size: 20px; margin: 0 0 10px; padding: 0 0 5px 10px; }
hr { border: 0; height: 1px; background: -webkit-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0)); background: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0)); background: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0)); background: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.75),rgba(0,0,0,0)); }

.headerBack { background-color: #00b4aa; padding: 1rem; margin-bottom: 20px; }

.ManuWraper {text-align: center; display: block; justify-content: space-between; align-items: center }
.NameAndLogo { display: block; align-items: center }
.Logo_Img { height: 60px; border-radius: 5px; }

.Ins_Name { font-size: 20px; font-weight: normal; color: #fff; }
.Ins_Address { display:none; text-align:center; color:#000}


/*------login-------*/
.Username { color: #fff;}

.DfrColor { color: #fff; }
.LogOut a { color: #fff; }

.LoginText { font-size: 15px; }
.EroorText { font-size: 11px; color: red; }
.LoginButton { background-color: #FFF; border: 1px solid #DDD; color: #666; cursor: pointer; font-size: 10pt; height: 27px; padding-bottom: 3px; width: 55px; }
.LoginButton:hover { border: 1px solid #ddd; color: #fff; background-color: #3F7B09; }


#main-master { display: block; min-height: 720px; margin-bottom: 2rem }
.main-container { flex: 1; padding:0 15px; }

.side-navbar { border: none; padding: 0 15px; width: auto }
.side-navbar a:hover { color: #333; text-decoration: none; }
.tree-node { color: #444; padding: 0.5rem 0.2rem; border-bottom: 1px solid #ddd; width: 100%; }
.root-node { color: #333; padding: 0.8rem 0.5rem; border-bottom: 1px solid #e3e3e3; font-size: 17px; font-weight: bold; width: 100%; }

.leaf-node { font: 15px Arial,Sans-Serif; padding: 4px 4px 4px 0; }
.leaf-node:hover { text-decoration: underline; }
.selected-node { color: #00b4aa; }
/*---End Treeview Style----------*/

/* .maincontain { float: left; margin-left: 10px; padding-bottom: 50px; width: 79%; } */
.footer { background-color: #00b4aa; color: #fff; text-align: center; padding: 20px 0;clear: both; }
.CopyRight { margin: auto; text-align: center; font-size: 13px; padding-top: 14px; }

/*****for form style******/
.search_textbox { border: none; padding: 3px; width: 85%; height: 17px; }
.textbox { border: 1px solid #b6b6b6; font-size: 13px; border-radius: 1px; box-shadow: 1px 1px 4px #ebebeb; box-sizing: border-box; outline: 0 none; padding: 6px; }
 .textbox:focus { outline: none; border: 1px solid #7bc1f7; box-shadow: 0px 0px 8px #7bc1f7; -moz-box-shadow: 0px 0px 8px #7bc1f7; -webkit-box-shadow: 0px 0px 8px #7bc1f7; }

.ContinueButton { background-color: #00b4aa; border: none; color: #fff; cursor: pointer; font-size: 13px; padding: 2px 11px; height: 30px; border-radius: 3px; }
.ContinueButton:hover { background-color: #ff9400; border: none; }

.SearchButton { background: #f1f1f1 url("Image/Search.png") no-repeat scroll 8px -1px; border: medium none; color: #fff; cursor: pointer; padding: 5px 20px; }
.SearchButton:hover { background: #fff url("Image/Search.png") no-repeat scroll 8px -1px; }

.Save_Button { background: rgba(0, 0, 0, 0) url("Image/Save_Ico.png") no-repeat scroll 1px 3px; border: medium none; cursor: pointer; padding: 10px 17px; }
.Save_Button:hover { opacity: 0.7; }

.Setting { background: rgba(0, 0, 0, 0) url("Image/Ssettings.png") no-repeat scroll 0 1px; color:#0055bd; cursor: pointer; font-size: 14px; padding:3px 24px; }
.Setting:hover { opacity: 0.7; }

.Datetime { border: 1px solid #b6b6b6; font-size: 13px; border-radius: 1px; box-shadow: 1px 1px 4px #ebebeb; box-sizing: border-box; outline: 0 none; padding: 6px; }
.Datetime:focus { outline: none; border: 1px solid #7bc1f7; box-shadow: 0px 0px 8px #7bc1f7; -moz-box-shadow: 0px 0px 8px #7bc1f7; -webkit-box-shadow: 0px 0px 8px #7bc1f7; }

.dropdown { border: 1px solid #b6b6b6; border-radius: 3px; color: #333; cursor: pointer; text-indent: 0.01px; height: 30px; padding-bottom: 2px; width: 195px; }
.ImgStyle { height: 85px; width: 78px; border: 3px solid #fff; border-radius: 5px; }
.RadioB { background-color: #00b4aa; color: #fff; font-weight: bold; padding: 3px 10px 8px 0; }

.Today { background-color: #95a73f; color: #000; }
 .Today table tr { background-color: #95a73f; color: #000; }

.Over_Today { background-color: #a8c093; color: #000; }
.Over_Today table tr { background-color: #a8c093; color: #000; }
.Indicator { float: left; padding: 5px; }

/*-------------checkbox---------------*/
input[type=checkbox] { display: none; }
input[type=checkbox] + label { padding-left: 29px; height: 24px; display: inline-block; line-height: 24px; background-repeat: no-repeat; background-position: 7px 3px; font-size: 12px; vertical-align: middle; cursor: pointer; background-image: url(Image/CheckBox.png); -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; z-index: 20000; }
input[type=checkbox]:checked + label { background-position: 7px -19px; background-image: url(Image/CheckBox.png); -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; }

/*-------------radio button---------------*/
input[type="radio"] { display: none; }
input[type="radio"] + label { -moz-user-select: none; background-image: url("Image/RadioButton.png"); background-position: 5px 4px; background-repeat: no-repeat; cursor: pointer; display: inline-block; font-size: 13px; height: 21px; line-height: 21px; padding-left: 26px; vertical-align: middle; }
input[type="radio"]:checked + label { -moz-user-select: none; background-image: url("Image/RadioButton.png"); background-position: 5px -16px; }

/*------------Icons---------------*/
.print { background: url("../../CssGridview/Cmd_Ico/Printing.png") no-repeat scroll 0 0 / 100% auto; border: none; padding:13px 12px; }
.print:hover { opacity: 0.8; cursor: pointer; }

.EroorStar { color: red; font-size: 8pt; }
.EroorSummer { color: red; font-size: 10pt; }
.SuccessMessage { color: #07a807; font-size: 14px; }

.hideGridColumn { display: none; }
.First { font-weight: bold; color: #fff; background: #0e8322; }
.Second { font-weight: bold; color: #fff; background-color: #0c88a4; }
.Third { font-weight: bold; color: #fff; background-color: #f39c00; }
.RowColor { color: #fff; background-color: #ca1a40; }
.selected { background-color: #A1DCF2; }
.Deselected { background-color: #fff; }

/*------------update progress----------------*/
#progress_BG { position: fixed; top: 0px; bottom: 0px; left: 0px; right: 0px; z-index: 100003; background-color: #000; filter: alpha(opacity=40); opacity: 0.7; display: none; }
#progress { position: fixed; top: 40%; left: 46%; text-align: center; z-index: 200; }
#progress b { color: hsl(200,100%,18%); background-color: #ddd; padding: 2px 5px; }

/*-------- auto complete text------------*/
.ac_results { font: 13px Helvetica,arial,freesans,clean,sans-serif; line-height: 1.4; background: white; border: 1px solid #DDD; border-radius: 3px; box-shadow: 0 0 5px rgba(0,0,0,0.5); max-height: 300px; overflow: hidden; text-align: left; list-style-type: none; padding-left: 1px; color: #333; z-index: 99999; }
.ac_results ul { width: 100%; list-style-position: outside; list-style: none; padding: 0; margin: 0; }
.ac_results li { margin: 0px; padding: 5px 10px; cursor: pointer; display: block; font: menu; font-size: 15px; line-height: 16px; overflow: hidden; }
.ac_loading { background: white url('indicator.gif') right center no-repeat; }

.ac_odd { background-color: #fff; border: 1px solid #DDD; }
.ac_over { background-color: rgb(224,95,10); padding: 5px 10px; color: #fff; }

/***  popup***/
.modalBackground { background-color: Black; filter: alpha(opacity=40); opacity: 0.4; }
.modalPopup { background-color: #fff; border-radius: 5px; max-width:600px; overflow: auto; }
.modalPopup .Htitle { background-color: #00b4aa; color: #fff; font-size: 15px; padding: 2px 0 6px; text-align: center; cursor: move; }
.modalPopup .Pop_Contain { padding: 17px; }
.modalPopup .Pop_Contain p { color: hsl(0,0%,0%); font-size: 15px; margin-bottom: 2px; }
.modalPopup .Close { padding-bottom: 10px; padding-left: 3px; padding-right: 10px; padding-top: 3px; text-align: right; }
.modalPopup .button { background-color: rgb(11,72,147); border: medium none; color: #fff; cursor: pointer; font-size: 8pt; padding: 2px; text-transform: uppercase; }
.modalPopup .button:hover { background-color: #333; }

.PopClose { background: url("../CSS/Image/btn-close.png") no-repeat scroll -1px -1px; float: right; padding: 8px 9px; cursor: pointer; }
.PopClose:hover { opacity: 0.6; }

 /**quick order button*/
.quick-order-btn { margin: .375rem; text-transform: uppercase; cursor: pointer; border: 0; border-radius: .3rem; box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12); padding: .84rem 2.14rem; font-size: .95rem; background: linear-gradient(40deg, #45cafc, #303f9f) !important; color: #fff; display: block; text-align: center; }
.quick-order-btn:hover{color:#fff !important}

/*date picker header style fix*/
.datepick-month-header {  display: flex; }


@media print {
    .Ins_Address { display: block; }
    .side-navbar{display: none}
}

/****Resposive Design************/
@media screen and (min-width: 800px) /* Tablet &Mobile*/ {
    .ManuWraper { display: flex; }
    .NameAndLogo { display: flex; }
    .Ins_Name { margin-left: 1rem; font-size: 30px; font-weight: bold; }

    #main-master { display: flex; }
    .side-navbar { max-width: 16.666667%; width: 100% }
}

/***************end*************************/
