<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AjaxMin" version="5.14.5506.26202" targetFramework="net45" />
  <package id="MicrosoftReportViewerWebForms" version="11.0.0.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net45" />
</packages>