


@page { margin: 0.5cm; }

@media print {
 .Site_Navigation, .Category, .UserPanel, .ContinueButton, .headerBack, .footer,footer { display: none; }

 .maincontain { width: 100%; left: 0; }
 #ctl00_body_ReportViewer1_ctl05 { display: none; }

 body { background: none; }
 .Main_Design { margin:0; padding-top:0; width:100%; }
}
