

@page { margin: 0.5cm; }

@media print {
 .Category, .headerBack, .footer, .HideCB, .UserPanel, .Site_Navigation, .ContinueButton, .NoPrint { display: none; }

 .maincontain { width: 100%; left: 0; }

 #AllStudents { margin-left: 0; }

 h3 { color: #000; font-size: 20px; font-weight: 400; margin: 0; text-align: center; background-color: #fff; font-family: Tahoma; }

 .mGrid th { border: 1px solid #939393; }

 .mGrid td { border: 1px solid #939393; font-size: 13px; padding: 5px 3px; color: #000; }

 .dropdown { border: none; font-size: 18px; color: #000; text-align: left; }
}
