

.Dress { background-color: #ff9400; color: #fff; border-top: 1px solid #fff; font-weight: bold; }

.DGrid td { text-align: left; }

.DGrid th { color: #333; padding-bottom: 5px; text-align: left; font-size: 16px; }

.Mesure_Style { float: left; margin-top: 15px; max-width: 80%; }

.Mesure { background-color: #fafafa; border: 1px solid #ddd; clear: both; float: left; margin-bottom: 30px; padding: 11px 13px; width: 96%; }

.Personal_Info { background-color: #fafafa; border: 1px solid #f2f2f2; float: left; padding: 7px 0 11px; width: 60%; }

.Profile_Image { float: left; font-size: 13px; font-weight: bold; margin: 11px 0 0 15px; text-align: center; }

.P_Image { background-color: #fff; border: 1px solid #f2f2f2; border-radius: 3px; height: 85px; padding: 10px; width: 80px; }

.Updt_Image { height: 80px; width: 60px; }

.Info { float: left; margin: 4px 0 0 1%; width: 50%; }

 .Info ul { margin: 0; padding: 0; }

  .Info ul li { background: #fff; border: 1px solid #f2f2f2; font-size: 14px; line-height: 29px; list-style: outside none none; margin: 7px 0 0; padding-left: 10px; color: #777; }

.BasicInfo { margin-top: 15px; }

.Edit_Bnt { background-color: #64cf70; border: medium none; border-radius: 3px; cursor: pointer; font-size: 13px; margin: 21px 0 0 40px; padding: 4px 7px; text-align: center; width: 88px; }
#MesasurmentType table td { vertical-align: top; }
.DetailsHead { color: #333; float: left; font-size: 14px; padding: 5px; text-align: center; overflow: auto; }

 .DetailsHead .textbox { text-align: center; width: 90%; }

.Img { height: 60px; padding: 4px; width: 56%; }

h3 { border-bottom: none; font-size: 19px; margin: 0; padding: 0; }


.Style_Input { background-color: #fff; border: 1px solid #ddd; float: left; font-size: 14px; height: 145px; margin: 5px; max-width: 320px; min-width: 130px; padding: 11px 5px; text-align: center; overflow: auto; }

.Color { border: 1px solid #333; float: left; font-size: 14px; margin: 5px; padding: 11px 5px; text-align: center; max-width: 320px; min-width: 130px; height: 145px; background-color: #fff; overflow: auto; }

.StyleImg { height: 90px; padding: 2px; max-width: 100% !important; padding: 2px; vertical-align: middle; }

#Paid .textbox { width: 80%; }

.RowColor { background-color: red; }

.DDL { border: 1px solid #b7b7b7; border-radius: 2px; color: #333; cursor: pointer; padding: 2px 0; text-indent: 0.01px; width: 284px; font-size: 13px; }

.textbox { margin-top: 6px; }

.StyleTextBox { margin: 5px 0 0 10px; width: 50px; border: 1px solid #adadad; font-size: 13px; padding: 3px; }

input[type=checkbox] + label { padding-left: 29px; height: 24px; display: inline; padding: 1px 0 4px 21px; line-height: 0; font-size: 12px; background-position: 0 0; }

input[type=checkbox]:checked + label { background-position: 0 -21px; }

@media screen and (max-width:979px) {
 .Personal_Info { width: 100%; }

 .Info { margin: 1% 0 0 8%; width: 60%; }

 .Profile_Image { margin: 3% 0 0 1%; width: 29%; }

 .P_Image { height: 76px; page-break-inside: avoid; max-width: 100% !important; display: inline-block; }

 .DDL { border: 2px solid #7d6754; border-radius: 5px; padding: 3px; text-indent: 0.01px; }

 .DetailsHead { color: #333; float: left; font-size: 14px; font-weight: bold; padding: 2% 0 4% 3%; text-align: center; width: 100%; }

 .BasicInfo { margin-top: 7%; padding: 1%; }

 .Mesure_Style { max-width: 100%; margin: 0; }

 .Mesure { margin-bottom: 5%; padding: 3% 0; width: 100%; }

 .Style_Input { max-width: 43%; min-width: 41%; overflow: auto; }

 .Color { max-width: 43%; min-width: 41%; overflow: auto; }

 .StyleImg { height: 85px; max-width: 100% !important; padding: 1px; vertical-align: middle; }

 .textbox { width: 83%; }

 .mGrid { width: 100%; }

 .SelectDress { margin: 0 0 14px 2px; }

 .ContinueButton { margin-bottom: 10%; }

 .ui-tabs .ui-tabs-nav li { float: left; margin: 6px 1px 0px 1px; width: 100%; font-size: 16px; text-decoration: none; }
}
