
/*---Order AND Delivery----*/

p { display: none; }
.Date { color: #333; font-size: 18px; }
.ui-helper-reset { font-size: 12pt; }
.ui-tabs { margin-top: 16px; }
 .ui-tabs .ui-tabs-panel { border: none; }
 .ContinueButton { font-size: 15px; padding: 3px 9px; }
h3 { color: #7f7f7f; margin: 0 0 10px; padding: 0 0 5px; }
/*---Order----*/
.Order { margin-bottom: 30px; }
.Title {border-bottom: 3px solid #888893; color: #153659; font-size: 20px; margin-bottom: 10px; }
.DSummery { background-color: #e7f7fd; color: #196689; float: left; font-size:20px; margin-right: 20px; padding: 10px 35px; text-align: center; }
.Dress_Details { background-color: #e7f7fd; color: #014366; font-size: 17px; margin: 12px 12px 0 0; padding: 14px 3px; line-height: 30px; text-align: center; }
.Amount { color:#00b3aa; }
/*---Delivery----*/
.Complete { background:url("Ico/Complete.png") no-repeat scroll 0 3px; color: #01aa14; padding: 2px 10px 2px 23px;}
.InComplete { color: #ff0000; background: url(Ico/InComplete.png) no-repeat scroll 0 3px; padding: 2px 10px 2px 23px;}

@page { margin: 0.5cm; }

@media print {
 .Site_Navigation, .footer, .Category, .UserPanel, .ContinueButton, .ui-tabs .ui-tabs-nav, .pgr, h3, .Logo, .Datetime, ul { display: none; }
 .maincontain { width: 100%; left: 0; margin-left: 0; }
 .headerBack { margin-bottom: 0; background-color: #ddd; border-bottom: 1px solid #333; height: 80px; text-align: center; }
 .NameAndLogo { float: none; width: 100%; }
 .Ins_Name { color: #333; font-size: 30px; text-align: center; margin: 18px 0 0; text-align: center; width: 100%; }

 .DSummery { background-color: #fff; padding: 5px 5px; margin-right: 5px; font-size: 18px;border:1px solid #ddd }
 .Dress_Details { background-color: #fff; padding: 10px 5px; margin: 3px 3px 0 0; font-size: 18px; border:1px solid #ddd}

 p { display: block; text-align: center; clear: both; margin-top: 10px; }
}
