h3{ font-size:15px;  margin:0 0 7px;  padding:0 0 5px 5px;  border:none}
.Personal_Info{ background-color:#fafafa;  border:1px solid #f2f2f2;  float:left;  padding:10px 0 18px;  width:100%}
.Profile_Image{ float:left;  margin:11px 0 0 22px}
.P_Image{ background-color:#fff;  border:1px solid #f2f2f2;  border-radius:3px; height:130px; padding:10px}
.Updt_Image{ height:80px;  width:60px}
.Info{ float:left;  margin-left:1%;  width:50%}
.Info ul{ margin:0;  padding:0}
.Info ul li{ background:#fff none repeat scroll 0 0;  border:1px solid #f2f2f2;  font-size:15px;  line-height:33px;  list-style:outside none none;  margin:9px 0 0;  padding-left:15px;  color:#777}

.BasicInfo{ margin-top:50px}

.Edit_Bnt{ border:1px solid #ddd;  border-radius:3px;  cursor:pointer;  font-size:12px;  margin:6px 0 0;  padding:4px 0;  text-align:center}

.textbox{ color:#767676}
.mGrid td{ border:1px solid #eaeaea;  font-size:12px; padding: 5px 3px;}

.mGrid td table td{ border:none}
.Due{ color:#0094ff}
.Paid{ color:#333;  background-color:#eaeaea}
.footable table tr td{ border:medium none}

/****Responsive Design****/
@media screen and (max-width:979px) /* Tablet &Mobile*/{ 
 .Personal_Info{ padding:0px 0 7px}
 .BasicInfo{ margin-top:10px}

.P_Image{ height:80%;  width:85%}

.Edit_Bnt{ display:none}

.Profile_Image{ float:left;  margin:2px 0 0 2%;  width:28%}

.Info{ float:left;  margin-left:1%;  width:68%}

.Info ul li{ color:#505050;  font-size:13px;  line-height:21px;  margin:3px 0 0;  padding-left:2%}

.mGrid{ width:100%}

.ui-tabs .ui-tabs-nav li{ float:left;  margin:6px 1px 0px 1px;  width:100%;  font-size:16px;  text-decoration:none}
}

/****End Responsive****/
