
/**Money Receipt*/
.PrintGrid1 { border: none }
.PrintGrid1 th { padding: 2px 4px; color: #fff; border-top: 1px solid #fff; }
.PrintGrid1 td { border: 1px solid #ddd }
.PrintGrid1 .Footre td { border: none; border-top: 1px solid #ddd }
.PrintGrid1 .Footre td table td { border: none }

.aln { text-align: center; }
.InsInfo { margin-bottom: 5px; padding-bottom: 5px; color: #626262; width: 352px; text-align: center; border-bottom: 1px solid #666; }
.Dialog_Title { font-family: Arial; font-style: italic; font-size: 11px; }

.InsInfo2 { color: #626262; width: 100%; text-align: center; }
.InsInfo2 .CustomerDetails { width: 100%; text-align: center; font-weight: bold; font-size: 13px; color: #000; }

#main .h3 { color: #000; font-size: 15px; margin: 0; text-align: center; background-color: #fff; font-family: Tahoma; font-weight: bold; }
.ui-tabs .ui-tabs-panel { border: none; padding: 0; }

/*Mesurement*/
.Block { display: block; }
.pgridstyle { padding: 0 0 35px }
.InsName { color: #000; font-size: 17px; font-weight: bold; text-align: center; font-family: Tahoma }

.Table_style { width: 100%; margin-bottom: 60px; font-size: 15px; }
.Table_style td { border: 1px solid #000; padding: 6px 0 10px; text-align: center; width: 33% }

.M_Size { font-size: 14px; }
.O_Size { font-size: 18px; }

.customer-name { color: #000; font-size: 18px; font-weight: bold; text-align: center; width: 100%; }
.customer-address {margin-bottom:3px; color: #000; font-size: 15px; text-align: center; width: 100%; }

.MesureMentSt tr td { vertical-align: top; padding: 0 3px }
.MesureMentSt tr td table { border: 1px solid #666 }
.MesureMentSt tr td table tr td { padding: 1px 5px; text-align: center }

hr { background: none; border-top: 1px solid #000000; margin: 0; display: block }
.pgr { background-color: #f4f4f4; }
.pgr table { margin: 3px 0; }
.pgr td { border-left: 1px solid #666; border-width: 0 0 0 1px; color: #1da092; font-weight: bold; line-height: 12px; padding: 0 6px; }
.pgr a { color: #7b7b7b; text-decoration: none; }
.pgr a:hover { color: #ff6a00; text-decoration: underline; }

.dropdown { padding-bottom: 0; width: 203px; height: initial; margin: 15px 0; }
.Drs_TB { text-align: center; border: 1px solid #666; font-weight: bold; width: 95% }

.SaveFont { background: url("../../../CSS/Image/Save.png") no-repeat scroll 0 0 / 90% auto; border: medium none; padding: 4px 11px; cursor: pointer; }
.SaveFont:hover { opacity: 0.7; }


/***Media print*****/
@page { margin: 5px 210px }

@media print {
    html, body { height: 80%; }
    /*prevent blank page print*/
    .Site_Navigation, a, .No_Print, .pgr, .Category, .UserPanel, .headerBack, .footer, .print, .Class, #btnPrint, h3, .dropdown, .ContinueButton { display: none }
    .maincontain { width: 100%; left: 0; padding: 0; margin: 0; float: none }
    .InsName { color: #000; font-size: 17px; font-weight: bold; text-align: center; font-family: Tahoma }

    .Table_style { width: 100%; margin-bottom: 60px; font-size: 15px; }
    .Table_style td { border: 1px solid #000; padding: 6px 0 10px; text-align: center; width: 33% }

    .M_Size { font-size: 14px; }
    .O_Size { font-size: 18px; }
 
    .MesureMentSt tr td { vertical-align: top; padding: 2px 3px; }
    .MesureMentSt tr td table { border: 1px solid #666; }
    .MesureMentSt tr td table tr td { padding: 1px; text-align: center; }

    hr { background: none; border-top: 1px solid #000000; margin: 0; display: block; }
    .Drs_TB { text-align: center; border: none; font-weight: bold; width: 95% }

    /**Money Receipt*/
    .PrintGrid1 { width: 100%; border: none }
    .PrintGrid1 th { padding: 2px 4px; color: #fff; border-top: 1px solid #fff; }
    .PrintGrid1 td { border: 1px solid #ddd }
    .PrintGrid1 .Footre td { border: none; border-top: 1px solid #ddd }
    .PrintGrid1 .Footre td table td { border: none }

    .aln { text-align: center; width: 100%; }
    .InsInfo { margin-bottom: 5px; padding-bottom: 5px; color: #626262; width: 352px; text-align: center; border-bottom: 1px solid #666; }
    .Dialog_Title { font-family: Arial; font-style: italic; font-size: 11px; }

    .InsInfo2 { color: #626262; width: 100%; text-align: center; }
    .InsInfo2 .CustomerDetails { width: 100%; text-align: center; font-weight: bold; font-size: 13px; color: #000; }

    #main .h3 { color: #000; font-size: 15px; margin: 0; text-align: center; background-color: #fff; font-family: Tahoma; font-weight: bold; }

    #CustomerMoneyRicipt, #CustomerMesurment { border: none; padding: 0; }
    .ServedBy { text-align: center; display: block; }
    p { display: block; text-align: center; font-size: 11px; margin: 0 }
}
